.navBar {
  background-color: black;
  display: flex;
  position: sticky;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  padding: 1%;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 400px;
  margin-top: 1%;
}

.list li {
  font-family: "Roboto", sans-serif;
  color: white;
}

li:hover {
  color: #fed136;
}

.start-icon {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  text-align: left;
  color: #fed136;
}

.menu-button {
  width: 100px;
  height: 40px;
  display: none;
  position: absolute;
  right: 10px;
  background-color: #fed136;
  cursor: pointer;
  border-radius: 9px;
  margin-right: 5%;
}

.menu-button:hover {
  border: 4px double black;
}

.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 9px;
  background-color: #fed136;
}

menu {
  width: 100vw;
  height: 0vh;
  margin-top: 300px;
  background: rgb(35, 36, 36);
  display: flex;
  position: fixed;
  justify-content: space-between;
  transition-property: height;
  transition-duration: 1s;
}

.menu-open {
  height: 250px;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  height: 200px;
  margin-left: 150px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .menu-button {
    display: block;
  }
  .list {
    display: none;
  }
  .hamburger {
    display: block;
    margin-right: 0 auto;
  }
}
